@charset "UTF-8";

main{
    margin: auto;
    max-width: 1000px;
}
h1 {
    text-align:center;
}

#csonak {
    background-color:aqua;
    text-align:Center;
    background-image: url("kepek/csonak.png");
    height:400px;
    background-repeat: no-repeat;
    background-position: center;
}


#csonakkep {
    width:70%;
}

header, article, aside, footer {
    border: 1px solid black;
}

.footerFormaz{
    text-align: center;
    font-size:25px;
}
.kiemel {
    cursor: -webkit-grab; cursor: grab;
    border: solid black 2px;
    border-radius: 50px;
    background-color: #999999
}


.rejtettIMG {
    display:none;
}

.balOldalPart {
    position: relative;
}

.jobbpozicio {
    position: relative;
}